@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor1: #007bff;
  --cor2: #E3EFFC;
  --cor3: #10195C;
  --cor4: #238C3D;
  --cor5: #02590F;

  --fonte-padrao: Arial, sans-serif;
  --fonte-destaque: 'Roboto', sans-serif;
}

html, body {
  display: flex;
  flex-direction: column;
  font-family: var(--fonte-padrao);
  background-color: var(--cor2);
  margin: auto;
}


header {
  flex: 0 0 auto;
  height: 120px;
  width: 100%;
  max-width: 802px;
  margin: auto;
  text-align: center;
  background-color: var(--cor1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.47);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/* menu icon */
header span {
  position: relative;
  top: -89%;
  left: -48%;
  color: white;
  width: 20px;
  color: white;
  display: block;
  padding: 10px;
  cursor: pointer;
}

header span:hover {
  color: black;
}

div#menu-container {
  position: fixed;
  max-width: 802px;
  height: 70px;
  background-color: white;

}

div#menu-container menu {
  display: none;
  margin-top: 123px; /*para aparecer na tela (cancela o espaço do header) */
} 

div#menu-container menu > ul {
  list-style-type: none;
}

div#menu-container li {
  width: 180px;
  display: inline-block;
}

div#menu-container > menu > ul > li > a {
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  font-family: var(--fonte-padrao);
  font-size: 0.9em;
  background-color: white;
  font-weight: bold;
  color: var(--cor1);
  text-shadow: 1px 1px px rgba(0, 0, 0, 0.329);
  border: 2px solid var(--cor1);
  
}
div#menu-container menu > ul > li > a:hover {
  background-color: var(--cor1);
  text-shadow: 1px 1px px rgba(0, 0, 0, 0.329);
  color: white;
  font-size: 0.9em;
  font-weight: bold;
  border: 1px solid white;
}

header  h1 {
  color: white;
  font-family: var(--fonte-destaque);
  font-size: 4em;
  font-weight: bolder;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.158);
  margin: 0px;
}

header  h2 {
  color: white;
  margin-top: 0;
}

main.chat-container {
  flex: 1 1 auto;
  width: 100vw; /* deve ser para ocupar toda a tela */
  max-width: 800px;
  margin: 120px auto 70px auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow-y: auto;
  background-color: var(--cor2);
  padding: 0 10px;
  height: calc(100vh - 190px);
}

div.chat-box {
  flex: 1 1 auto;
  /* overflow-y: auto; */
  padding: 0px 10px 10px 10px;
}

div.input-container {
  flex: 0 0 auto;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  padding: 10px;
  background-color: var(--cor2);
  /* border-top: 1px solid #ccc; */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  max-width: 100%;
}

div.input-container > input {
  flex: 1;
  padding: 12px 20px; /* Padding ajustado para um input mais agradável */
  border-radius: 30px; /* Bordas arredondadas */
  border: 1px solid #ccc;
  max-width: 600px; /* Tamanho máximo para o input */
  width: 100%; /* Faz o input crescer conforme a tela */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
  transition: all 0.3s ease; /* Transição suave */
  font-size: 1em; /* Tamanho da fonte ajustado */
  resize: vertical; /* Permite redimensionamento vertical */
  overflow-y: auto; /* Adiciona barra de rolagem vertical quando necessário */
}

div.input-container input:focus {
  outline: none;
  border-color: var(--cor1); /* Cor da borda ao focar */
  box-shadow: 0 2px 10px rgba(0, 123, 255, 0.3); /* Sombra ao focar */
}

div.input-container > button {
  padding: 12px 20px; /* Padding ajustado */
  margin-left: 10px;
  border: none;
  border-radius: 30px; /* Bordas arredondadas */
  background-color: var(--cor1);
  color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
  transition: all 0.3s ease; /* Transição suave */
}

div.input-container > button:hover {
  background-color: rgb(0, 72, 150); /* Efeito de hover */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra ao hover */
}

.user-message {
  color: var(--cor3);
  font-size: 1.3em;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: right;
  word-wrap: break-word;
}

.bot-message {
  text-align: justify;
  color: var(--cor4);
  font-size: 1.3em;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-weight: bold;
  margin: 20px 20px 20px 0px;
  min-width: 300px;
  max-width: 100%;
  white-space: pre-wrap; 
  max-width: 87vw;
}

.bot-message div {
  margin: 0; /* Remove margens padrão dos parágrafos */
  text-align: left; /* Alinha o texto à esquerda */
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

iframe {
  width: 120%;
  height: 250px;
  /* min-width: 430px;
  min-height: 300px; */
}


.bot-logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.bot-logo {
  border-radius: 50%;
  height: 30px;
  margin-right: 5px;
  margin-bottom: 2px;
  border: 3px solid black;
  box-sizing: content-box;
}

.bot-info {
  font-weight: bolder;
  margin-right: 5px;
  color: black;
}

