@charset "UTF-8";

@media screen and (min-width: 1200px) {
    header {
        position: static;
        min-width: 802px;
    }

    main.chat-container {
        margin: 0px auto;
        border-radius: none;
        border: 1px solid #ccc;
        border-bottom: none;

    }

    div.input-container  {
        width: 802px;
        margin: auto;
        border: 1px solid #ccc;
        border-top: none;
    }

/*     
    aside.sidebar {
        background-color: white;
        position: fixed;
        left: 1%;
        width: 200px;
    }
    
    div.sidebar-menu-container ul {
        list-style: none;
    }
    
    div.sidebar-menu-container a {
        position: relative;
        left: 9%;
        min-width: 50%;
        display: block;
        padding: 10px;
        text-decoration: none;
        text-align: center;
        font-family: var(--fonte-padrao);
        font-size: 0.9em;
        background-color: white;
        font-weight: bold;
        color: var(--cor1);
        text-shadow: 1px 1px px rgba(0, 0, 0, 0.329);
        border: 2px solid var(--cor1);
    }
    
    div.sidebar-menu-container a:hover {
        background-color: var(--cor1);
        text-shadow: 1px 1px px rgba(0, 0, 0, 0.329);
        color: white;
        font-size: 0.9em;
        font-weight: bold;
        border: 1px solid white;
    } */

}

