@charset "UTF-8";

@media screen and (min-width: 802px) {
    header {
        position: static;
        min-width: 802px;
    }

    header span {
        display: none;
    }

    main.chat-container {
        margin: 0px auto;
        border: 1px solid #ccc;

    }

    div.input-container  {
        position: static;
        border: 1px solid #ccc;
    }
}